body {
    font-family: Arial, sans-serif;
    background-color: #fff; 
    color: #96B6C5; 
    margin: 0;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: #96B6C5; 
    padding: 5px;
}

h1 {
    margin-left: 15px;
    color: #fff; 
}

input[type="text"], select {
    padding: 10px;
    border: 1px solid #F1F0E8;
    border-radius: 5px;
    margin: 0 10px;
}

.button {
    background: #96B6C5; 
    position: relative;
    color: #fff;
    padding: 5px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    font-size: 2rem;
    display: flex;
    margin: 1.5rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.button .content {
    margin-right: 10px;
}

.button:hover {
    background-color: #96B6C5; 
}

.lesson {
    background-color: #96B6C5; 
    color: #fff;
    border-radius: 3px;
    width: 21%;
    padding: 20px;
    margin: 5px 0;
    margin-bottom: 0px;
    text-align: center; 
}

.lesson-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin: 0 auto;
}

.lesson button {
    background-color: #fff; 
    color: #96B6C5;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 3px;
    align-items: center;
}

.lesson button:disabled {
    background: #cdcbcb;
    cursor: not-allowed;
}

.lesson i {
    font-size: 1.5rem; 
    color: #fff; 
    margin-right: 8px; 
}

.cart-page {
    background-color: #fff; 
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.cart-lesson {
    margin: 10px 0;
}

.cart-lesson button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
}

select {
    padding: 8px;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 15px;
    width: 150px;
    height: 32px;
    color: #888;
    border: 1px solid #ccc;
    align-items: center;
    border-radius: 3px;
}

input[type="button"] {
    background-color: #96B6C5; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

input[type="button"]:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}

input[type="button"]:hover:not(:disabled) {
    background-color: #96B6C5;
}

.badge {
    background-color: #a30000;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    align-items: center;
    top: -8px;
    right: 9px;
}

main {
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 6px;
    max-height: 2rem;
    background-color: #96B6C5;
    transition: 0.3s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #bebaaa; 
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  

body.dark-theme {
    background-color: #100f35;
    color: #393535;
}

body.dark-theme header {
    background-color: #ded9c7; 
    color: #100f35;
}

body.dark-theme header h1 {
    color: #100f35;
}

body.dark-theme label {
    color: #ded9c7;
}

body.dark-theme header .button {
    background-color: #ded9c7;
    color: #100f35;
}
  
#cart-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 14px;
}

form {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button[type="submit"] {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

form button[type="submit"]:disabled {
    background: #ccc;
    cursor: not-allowed;
}
  
#close-cart-btn,
#close-checkout-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#close-cart-btn:hover,
#close-checkout-btn:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#search {
    margin: 20px 0;
    margin-right: 6px;
    margin-left: 8px;
    padding: 8px;
    width: 100%;
    height: 14px;
    max-width: 485px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.no-lessons-message {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.2em;
    color: #888;
  }